# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-storage-blob
azure-functions
requests
tenacity
pandas>=1.3.0
numpy>=1.21.0
scikit-learn